body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

/*header{*/
    /*min-width: 400px;*/
    /*background-color: #4da469;*/
    /*padding-bottom: 30px;*/
    /*text-align: center;*/
    /*color: black;*/
/*}*/

/*header nav{*/
    /*background-color: white;*/
    /*width: 90%;*/
    /*max-width: 1060px;*/
    /*margin: 0px auto 50px auto;*/
    /*padding-bottom: 5px;*/
    /*padding-top: 5px;*/
    /*overflow: auto;*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
/*}*/

/*header .leftSide{*/
    /*float: left;*/
/*}*/

/*header .rightSide{*/
    /*float: right;*/
    /*line-height: 50px;*/
/*}*/

/*nav .logo{*/
    /*width: auto;*/
    /*height: 50px;*/
    /*margin-right: 25px;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/*.leftSide address{*/
    /*display: inline-block;*/
    /*border-left: 1px solid rgba(255, 255, 255, 0.5);*/
    /*padding-left: 25px;*/
    /*vertical-align: middle;*/
    /*line-height: 30px;*/
    /*font-size: 13px;*/
/*}*/

/*.rightSide li{*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
/*}*/

/*.rightSide li:not(.botton) !* (:last-child)*! {*/
    /*margin-right: 30px;*/
/*}*/

/*.rightSide .botton {*/
    /*color: #5eb443;*/
    /*border: 2px solid #38e11f;*/
    /*line-height: 1;*/
    /*padding: 5px 20px;*/
    /*border-radius: 20px;*/
/*}*/

/*.nav1{*/
    /*background-color: white;*/
/*}*/

/*h1{*/
    /*font-size: 30px;*/
    /*text-transform: capitalize;*/
    /*padding-bottom: 10px;*/
/*}*/

/*.text p{*/

/*}*/

img {
    width: 250px;
    height: 210px;
    /*background-image: url("ekranas.PNG");*/
    /*margin: 15px auto 30px auto;*/
}

.logo{
    width: 150px;
    height: 170px;

}

.table{
    width: 450px;
    height: 100px;
    border: 1px solid black;
    color: blue;
    font-size: 20px;
}


th{
    border: 1px solid black;
    color: black;
}


.th{
    background-color: #8e44ad;
}

td{
    border: 1px solid black;
    color: black;
}

.td{
    background-color: #7f8c8d;
}



/*button{*/
    /*padding: 5px;*/
    /*background-color: #38814f;*/
    /*border: 2px solid #38814f;*/
    /*font-size: 8px;*/
    /*color: white;*/
    /*border-top-right-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
/*}*/

/*input{*/
    /*padding: 5px 15px;*/
    /*font-size: 8px;*/
    /*border: 2px solid #38814f;*/
    /*border-top-left-radius: 15px;*/
    /*border-bottom-left-radius: 15px;*/
/*}*/

/*.input{*/
    /*font-size: 0px;*/
/*}*/

/*.text1{*/
    /*color: white;*/
    /*font-size: 8px;*/
    /*padding: 10px;*/
/*}*/

/*section{*/
    /*min-width: 400px;*/
    /*background-color: #f8f8f8;*/
    /*padding-top: 60px;*/
    /*padding-bottom: 50px;*/
    /*text-align: center;*/
/*}*/

/*.sign{*/
    /*width: 400px;*/
    /*max-width: 1060px;*/
    /*background-color: white;*/
    /*margin: auto;*/
    /*border: 2px solid #efefef;*/
    /*border-radius: 5px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 30px;*/
/*}*/

/*.arrow{*/
    /*width: 20px;*/
    /*margin: auto;*/
    /*margin-left: 160px;*/
/*}*/

/*.arrow img{*/
    /*width: 12px;*/
/*}*/

/*.leftSide1{*/
    /*width: 39%;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-align: right;*/
/*}*/

/*.rightSide1{*/
    /*width: 59%;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-align: left;*/
/*}*/

/*.rightSide1 h3{*/
    /*color: #7cd344;*/
    /*text-transform: uppercase;*/
    /*font-size: 16px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*.rightSide1 ul{*/
    /*line-height: 1.5;*/
/*}*/

/*.mygtukai{*/
    /*width: 400px;*/
    /*margin: auto;*/
/*}*/

/*.third{*/
    /*width: 30%;*/
    /*display: inline-block;*/
    /*margin: auto;*/
    /*padding-top: 20px;*/
    /*font-size: 8px;*/
/*}*/

/*.third img{*/
    /*width: 10px;*/
    /*padding: 5px;*/
    /*margin-bottom: 6px;*/
    /*border: 1px solid #86c672;*/
    /*border-radius: 50px;*/

/*}*/

/*.active img{*/
    /*background-color: #86c672;*/
/*}*/